In [16]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import log_loss
from sklearn.model_selection import train_test_split
import xam

In [2]:
test=pd.read_csv("Test.csv")
train=pd.read_csv("Train.csv")
samp_sub=pd.read_csv("SampleSubmission.csv")

In [3]:
print(train.shape, train.columns)
train.head(10)

(29132, 29) Index(['ID', 'join_date', 'sex', 'marital_status', 'birth_year', 'branch_code',
       'occupation_code', 'occupation_category_code', 'P5DA', 'RIBP', '8NN1',
       '7POT', '66FJ', 'GYSR', 'SOP4', 'RVSZ', 'PYUQ', 'LJR9', 'N2MW', 'AHXO',
       'BSTQ', 'FM3X', 'K6QO', 'QBOL', 'JWFN', 'JZ9D', 'J9JW', 'GHYX', 'ECY3'],
      dtype='object')

,ID,join_date,sex,marital_status,birth_year,branch_code,occupation_code,occupation_category_code,P5DA,RIBP,...,AHXO,BSTQ,FM3X,K6QO,QBOL,JWFN,JZ9D,J9JW,GHYX,ECY3
0,4WKQSBB,1/2/2019,F,M,1987,1X1H,2A7I,T4MS,0,0,...,0,0,0,1,0,0,0,0,0,0
1,CP5S02H,1/6/2019,F,M,1981,UAOD,2A7I,T4MS,0,0,...,0,0,0,1,0,0,0,0,0,0
2,2YKDILJ,1/6/2013,M,U,1991,748L,QZYX,90QI,0,0,...,0,0,0,0,0,0,0,0,0,1
3,2S9E81J,1/8/2019,M,M,1990,1X1H,BP09,56SI,0,0,...,0,0,0,1,0,0,0,0,0,0
4,BHDYVFT,1/8/2019,M,M,1990,748L,NO3L,T4MS,0,0,...,0,0,0,0,0,0,1,1,0,0
5,2ZFEPSR,1/9/2010,F,U,1981,748L,0OJM,T4MS,0,1,...,0,0,0,0,0,0,0,0,0,0
6,IJTBZFM,1/9/2019,M,M,1984,748L,UJ5T,T4MS,0,0,...,0,0,0,1,0,0,0,0,0,0
7,6ZOZFNF,1/5/2017,F,M,1977,E5SW,0KID,T4MS,0,0,...,0,0,0,0,1,0,0,0,0,0
8,G4P89ZS,1/5/2018,M,M,1990,XX25,SST3,56SI,0,0,...,0,0,0,1,0,0,0,0,0,0
9,G05BOWG,1/11/2018,M,M,1995,XX25,RUFT,T4MS,0,0,...,0,0,0,1,0,0,0,0,0,0

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29132 entries, 0 to 29131
Data columns (total 29 columns):
ID                          29132 non-null object
join_date                   29130 non-null object
sex                         29132 non-null object
marital_status              29132 non-null object
birth_year                  29132 non-null int64
branch_code                 29132 non-null object
occupation_code             29132 non-null object
occupation_category_code    29132 non-null object
P5DA                        29132 non-null int64
RIBP                        29132 non-null int64
8NN1                        29132 non-null int64
7POT                        29132 non-null int64
66FJ                        29132 non-null int64
GYSR                        29132 non-null int64
SOP4                        29132 non-null int64
RVSZ                        29132 non-null int64
PYUQ                        29132 non-null int64
LJR9                        29132 non-null int64
N2MW                        29132 non-null int64
AHXO                        29132 non-null int64
BSTQ                        29132 non-null int64
FM3X                        29132 non-null int64
K6QO                        29132 non-null int64
QBOL                        29132 non-null int64
JWFN                        29132 non-null int64
JZ9D                        29132 non-null int64
J9JW                        29132 non-null int64
GHYX                        29132 non-null int64
ECY3                        29132 non-null int64
dtypes: int64(22), object(7)
memory usage: 6.4+ MB

In [6]:
TRAIN=TRAIN.drop(["join_date","ID"],axis=1)
TEST=TEST.drop(["join_date","ID"],axis=1)

In [14]:
# Preparing for Mean Encoding
categ_col = train.select_dtypes(exclude=['int64','float64']).columns
categ_col = test.select_dtypes(exclude=['int64','float64']).columns

In [18]:
#Performing Mean Encoding on all the categorical features
xam_it = xam.feature_extraction.BayesianTargetEncoder(columns=categ_col)



train_x = xam_it.transform(train)
test_x = xam_it.transform(test)

TypeError: 'NoneType' object is not subscriptable

In [ ]:
train_x.drop(columns= categ_col, inplace=True)
test_x.drop(columns= categ_col, inplace=True)

In [ ]:
train_x.shape, test_x.shape

In [ ]:
y = df['Claim']
train_x = df.drop('Claim', axis=1)
xam_it.fit(train_x, y)